/*Avatar*/
.mainbox {
  background: #eff3f7;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.mainbox .mainbox-header {
  font-size: 27px;
  font-weight: normal;
  font-family: 'fira_sansbook';
  color: #3ba8c0;
  padding: 11px;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 27px;
  border-bottom: 2px solid #3ba8c0;
  width: 310px;
}

.mainbox .mainbox-header.education {
  width: 194px;
}

.mainbox .mainbox-header.work {
  width: 189px;
}

.avatar-box {
  -webkit-border-radius: 50%  50%;
  -moz-border-radius: 50% 50%;
  -ms-border-radius: 50% 50%;
  -o-border-radius: 50% 50%;
  border-radius: 50% 50%;
  border: 4px solid #32a6bc;
  overflow: hidden;
  width: 147px;
  height: 147px;
}

.avatar {
  width: 100%;
}

.image-wrap {
  margin-left: 50px;
  margin-top: 18px;
  margin-bottom: 20px;
  float: left;
}

/*Worksheet*/
.worksheet-wrap {
  width: 400px;
  float: left;
}

.worksheet-text {
  display: inline-block;
  color: #4A545D;
  font-family: "fira_sansmedium";
  font-size: 17px;
  font-weight: 500;
}

.worksheet-info {
  display: inline-block;
  color: #4A545D;
  font-family: "fira_sansbook";
  font-size: 15px;
  font-weight: 300;
  margin-left: 10px;
}

.worksheet-item {
  display: inline-block;
}

.worksheet-info {
  position: relative;
}

.worksheet-info .skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 7px;
  width: 200px;
  position: absolute;
  top: -15px;
  bottom: 0;
}

.worksheet-info .skills-list .skill-item {
  display: inline-block;
  background-image: -moz-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
  background-image: -o-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
  background-image: -webkit-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
  background-image: linear-gradient(to top, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2E8CA2', endColorstr='#3BA8C0')";
  /* IE8 */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius:2px;
  border-radius: 2px;
  color: #fff;
  font-family: "proxima_novacondsemibold";
  font-weight: normal;
  font-size: 14px;  
  text-align: center;
  padding: 0px 12px 0 12px;
  margin-bottom: 3px;
  margin-left: 2px;
  line-height: 19px;
  
}

.mainbox-item .where {
  color: #4A545D;
  font-family: "fira_sansbook";
  font-size: 17px;
  font-weight: 300;
  padding-left: 90px;
}

.mainbox-item .period {
  color: #8c949b;
  font-family: "fira_sanslight";
  font-size: 15px;
  font-weight: 300;
  padding-left: 90px;
  margin-bottom: 15px;
}

.mainbox-item.icon-work {
  background: url(../img/portf.png) 3% 7% no-repeat;
  list-style: none;
}

.mainbox-item.icon-education {
  background: url(../img/education1.png) 1% 25% no-repeat;
  list-style: none;
}

.mainbox-item.icon-course {
  background: url(../img/course.png) 2.4% 25% no-repeat;
  list-style: none;
}
