.vk, .vk-h, .tw, .tw-h, .fb, .fb-h, .git, .git-h{
	background: url(sprites.png) no-repeat;
}

.vk{
	background-position: 0 0;
	width: 47px;
	height: 47px;
}

.vk-h{
	background-position: 0 -50px ;
	width: 47px;
	height: 47px;
}

.tw{
	background-position: -52px 0;
	width: 47px;
	height: 47px;
}

.tw-h{
	background-position: -51px -51px ;
	width: 47px;
	height: 47px;
}

.fb{
	background-position: -101px -1px ;
	width: 47px;
	height: 47px;
}

.fb-h{
	background-position: -101px -51px ;
	width: 47px;
	height: 47px;
}

.git{
	background-position: -151px -1px ;
	width: 47px;
	height: 47px;
}

.git-h{
	background-position: -151px -52px ;
	width: 47px;
	height: 47px;
}

